.outerDiv {
  background: black;
  width:10%;
  height:100px;
}

.button1{
  width:140px;
  float:left;
  height:100%;
}

.button2{
  margin-left:140px;
}

.top {
  height: 50px;
}
.divbutton {
  height: 10px;
  background: white;
}

button {
  display: none;
}

.outerDiv:hover button {
  display: block;
}