.flex-container {
  padding: 0;
  margin: 0;
  width: 50%;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

#hover {
  display: none;
}
  
.flex-item:hover + #hover {
  display: block;
}

.flex-item {
  background: red;
  padding: 5px;
  width: 100%;
  height: 100px;
  margin: 5px;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

#headline {
  order: unset;
}

#text {
  order: unset;
}

#anotherOne {
  order: unset;
}