@media only screen and (min-width: 1000px) {
  .my-section-button {
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    display: flex;
    justify-content: center;
    margin: 10%;
    width: 80%;
    min-width: 112px;
  }

  .my-section {
    float: left;
    width: 20%;
  }


  .my-section-buttons {
    float: left;
    width: 100%;
  }

  .button-border {
    border-style: solid;
  }
}
