$black: #000;
$white: #fff;

// Greys
$alto-grey: #dcdcdc;
$gallery-grey: #ededed;
$silver-grey: #ccc;
$silver: #c3c3c3;
$grey: #999;
$boulder-grey: #767676;
$tundora-grey: #404040;
$grey-black: #0e0e0e;

// Greens
$japanese-laurel-green: #0b8a0d;
$la-palma-green: #16891b;

// Reds
$failure-red: #c80000;
$notification-warning-red: #d0021b;
$crimson-red: #e3124e;

// Oranges
$optimo-dark-orange: #ca3204;
// Don't use me for text I have low contrast
$optimo-orange: #fb531f;

// Blues
$navy-blue: #006def;

// Sizing
$border-width: 1.5px;
$button-height: 40px;
$context-bar-height: 56px;
$context-button-min-size: 42px;
$context-button-size: 54px;
$spacing-unit: 8px;

// Breakpoints
$mobile-smallest: 320px;
$mobile-small: 360px;
$gel-small: 400px;
$medium: 569px;
$tablet: 768px;
$desktop: 980px;
$wide: 1300px;
$breakpoint: 600px;

$modal-dialog-width: 1024px;
